@model Contact
<div class="contact">
    <div class="media-left">
        <span class="face face-md">@(Model.RealName)</span>
    </div>
    <div class="media-body">
        <div class="top-toolbar clear">
            <a href="#">@(Model.RealName)</a> @(Model.Mobile)
        </div>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="description clear">
                @(Model.Description)
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.Signature))
        {
            <div class="description clear">
                @(Model.Signature)
            </div>
        }

    </div>
</div>

