@{
    var model = new Task
    {
        Title = "这是一条测试任务",
        Content = "这里是任务的目标",

    };
}
<div class="container">
    <h3 class="page-header">定海分局具体工作任务落实单</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                任务事项：
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Title" value="@(model.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                工作目标任务：
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Content" value="@(model.Content)" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                任务来源：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-4">
                <label class="radio-inline"><input type="radio" name="fromArea" />省</label>
                <label class="radio-inline"><input type="radio" name="fromArea" />市</label>
                <label class="radio-inline"><input type="radio" name="fromArea" />区</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                指派给：
            </label>
            <div class="col-sm-4">
                <a href="@Url.Action("SelectUser","Home")" data-toggle="modal" data-target="#modal" class="btn btn-primary btn-sm"><i class="fa fa-address-book"></i> 选择人员</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                责任领导：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                责任单位：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="主办单位" />
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="协办单位" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                开始时间：
            </label>
            <div class="col-sm-4">
                <input type="date" class="form-control" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                计划完成时间：
            </label>
            <div class="col-sm-4">
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                工作进展情况：
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="4"></textarea>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">
                审批意见：
            </label>
            <div class="col-sm-6">
                <textarea rows="2" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                审批结果：
            </label>
            <div class="col-sm-4">
                <label class="radio-inline"><input type="radio" name="Result" checked />通过</label>
                <label class="radio-inline"><input type="radio" name="Result" />再办</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                审批时间：
            </label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="ApprovalTime" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-success"><i class="fa fa-check"></i>提交</button>
            </div>
        </div>

    </form>
</div>
