@{
    List<Task> list = new List<Task>
    {
        new Task { ID=1, Title = "定海OA办公系统，前端HTML界面实现", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11) },
        new Task { ID=2, Title = "OA系统原型设计搞", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11) },
        new Task { ID=3, Title = "办公系统的文档修改", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11), CompletedTime = new DateTime(2016,12,21) },
        new Task { ID=4, Title = "这是测试任务1", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11) },
        new Task { ID=5, Title = "这是测试任务1", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11) },
        new Task { ID=6, Title = "这是测试任务1", Creator=new User { Name="赵思思" }, ScheduledTime = new DateTime(2017,1,11) },
    };
}
<style>
    #app-task .task-icon
    {
        width: 50px;
        font-size: 1.5em;
        font-weight: 100;
        color: #aaa;
        cursor: pointer;
        text-align: center;
    }

    #app-task .task-time
    {
        font-size: 0.9em;
        color: #808080;
        width: 140px;
    }

    #app-task .task-user
    {
        width: 100px;
    }
</style>
<div id="app-task">
    <div class="toolbar">
        <div class="left">
            <a href="@Url.Action("edit")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 新建任务</a>
            
            <div class="dropdown btn btn-default">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-arrows-v"></i> 按优先级排序<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-angle-double-up"></i> 按优先级排序</a></li>
                    <li><a href="#"><i class="fa fa-calendar-plus-o"></i> 按创建时间排序</a></li>
                    <li><a href="#"><i class="fa fa-calendar-check-o"></i> 按完成时间排序</a></li>
                    <li><a href="#"><i class="fa fa-history"></i> 按更新时间排序</a></li>
                </ul>
            </div>
            <div class="dropdown btn btn-default">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-filter"></i> 全部状态<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-hourglass-1"></i> 进行中</a></li>
                    <li><a href="#"><i class="fa fa-check"></i> 已完成</a></li>
                    <li><a href="#"><i class="fa fa-list"></i> 全部</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="4">全部任务</th>
                </tr>
            </thead>
            @foreach (var item in list)
            {
                <tr>
                    <td class="task-icon">
                        <a href="#@Url.Action("Completed",new { item.ID })">
                            @if (item.CompletedTime.HasValue)
                            {
                                <i class="fa fa-check-square-o text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-square-o text-default"></i>
                            }
                        </a>
                    </td>
                    <td class="task-title">
                        <a href="@Url.Action("Detail",new { item.ID})" data-toggle="modal" data-target="#modal">@(item.Title)</a>
                    </td>
                    <td class="task-time">
                        @if (item.CompletedTime.HasValue)
                        {
                            <span>@(item.CompletedTime.Value.ToShortDateString())完成</span>
                        }
                        else if (item.ScheduledTime.HasValue)
                        {
                            <span>@(item.ScheduledTime.Value.ToShortDateString())</span>
                        }
                    </td>
                    <td class="task-user">@(item.Creator.Name)</td>
                </tr>
            }
        </table>
    </div>
</div>