@{
    var dirs = new List<Loowoo.Land.OA.Models.Directory>
    {
        new Loowoo.Land.OA.Models.Directory {  Name = "文件夹1"},
        new Loowoo.Land.OA.Models.Directory {  Name = "文件夹2"},
        new Loowoo.Land.OA.Models.Directory {  Name = "New Folder1"},
        new Loowoo.Land.OA.Models.Directory {  Name = "新建文件夹1"},
    };

    var files = new List<Loowoo.Land.OA.Models.File>
    {
        new Loowoo.Land.OA.Models.File { FileName = "这是一张图片.jpg", Type = FileType.Image, Size = 321000 },
        new Loowoo.Land.OA.Models.File { FileName = "这是一部视频.mp4", Type = FileType.Video, Size = 1204000 },
        new Loowoo.Land.OA.Models.File { FileName = "这是一个文档.doc", Type = FileType.Document, Size = 42000 },
        new Loowoo.Land.OA.Models.File { FileName = "这是一个表格文件.xls", Type = FileType.Document, Size = 32000 },
        new Loowoo.Land.OA.Models.File { FileName = "这是一个文本文件.txt", Type = FileType.Document, Size = 12000 },
        new Loowoo.Land.OA.Models.File { FileName = "这是一个未知文件.dll", Type = FileType.Other, Size = 1321000 },
    };
}
<div id="app-files">
    <div class="toolbar">
        <div class="left">
            <a href="@Url.Action("Upload")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-cloud-upload"></i> 上传文件</a>
        </div>
    </div>
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:60px;"></th>
                    <th>文件名</th>
                    <th style="width:120px;">大小</th>
                    <th style="width:180px;">修改时间</th>
                    <th style="width:170px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dir in dirs)
                {
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-folder-o folder"></i>
                        </td>
                        <td><a href="#">@(dir.Name)</a></td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-success" title="共享"><i class="fa fa-share-alt"></i></a>
                            <a href="#" class="btn btn-sm btn-default" title="重命名"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                }
                @foreach (var file in files)
                {
                    <tr>
                        <td>
                            @switch (file.Type)
                            {
                                case FileType.Image:
                                    <i class="fa fa-2x fa-file-image-o file"></i>
                                    break;
                                case FileType.Document:
                                    var ext = Path.GetExtension(file.FileName).TrimStart('.');
                                    if (ext.Contains("doc"))
                                    {
                                        ext = "word";
                                    }
                                    if (ext == "xls")
                                    {
                                        ext = "excel";
                                    }
                                    if (ext == "txt")
                                    {
                                        ext = "text";
                                    }
                                    <i class="fa fa-2x fa-file-@(ext)-o file"></i>
                                    break;
                                case FileType.Video:
                                    <i class="fa fa-2x fa-file-video-o file"></i>
                                    break;
                                default:
                                    <i class="fa fa-2x fa-file-o file"></i>
                                    break;
                            }
                        </td>
                        <td><a href="#">@(file.FileName)</a></td>
                        <td>@(file.DisplaySize)</td>
                        <td><span class="datetime">@(file.UpdateTime)</span></td>
                        <td>
                            <a href="#" class="btn btn-sm btn-success" title="共享"><i class="fa fa-share-alt"></i></a>
                            <a href="#" class="btn btn-sm btn-primary" title="下载"><i class="fa fa-download"></i></a>
                            <a href="#" class="btn btn-sm btn-default" title="重命名"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>