@{
    var categoies = new List<Category>
    {
        new Category { ID=1, Name ="文章分类" },
        new Category { ID=2, Name ="文章分类" },
        new Category { ID=3, Name ="文章分类" },
        new Category { ID=4, Name ="文章分类" },
    };
    var articles = new List<Article>
    {
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 1, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 2, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 3, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
        new Article { CategoryID = 4, Title = "这是测试文章的标题" },
    };

}
<div class="toolbar">
    <div class="left">
        <a href="@Url.Action("Edit")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 发布信息</a>
    </div>
    <div class="right col-sm-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="关键词" />
            <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
            </div>
        </div>
    </div>
</div>

<div class="main-content" style="margin-top:20px">
    @foreach (var category in categoies)
    {
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">@(category.Name) @(category.ID)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in articles.Where(e => e.CategoryID == category.ID).Take(5))
                    {
                        <tr>
                            <td>
                                <i class="fa fa-file-o" style="font-size:0.8em"></i>
                            <a href="#">@(article.Title)</a>
                            </td>
                            <td class="datetime" style="width:120px;">@(article.CreateTime.ToString("yyyy-MM-dd"))</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>