@{
    List<Article> list = new List<Article>
    {
        new Article { Title = "这里是测试文章信息的标题1", Creator = new User { Name = "发布人1" }, Category = new Category {  Name="信息分类1"}, Description = "", Checked=true },
        new Article { Title = "这里是测试文章信息的标题2",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类2"}, Description = "", Checked=false },
        new Article { Title = "这里是测试文章信息的标题2",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类3"}, Description = "", Checked=true },
        new Article { Title = "这里是测试文章信息的标题3",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类4"}, Description = "", Checked=true },
        new Article { Title = "这里是测试文章信息的标题4",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类2"}, Description = "", Checked=true },
        new Article { Title = "这里是测试文章信息的标题5",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类3"}, Description = "", Checked=true },
        new Article { Title = "这里是测试文章信息的标题6",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类2"}, Description = "", Checked=false },
        new Article { Title = "这里是测试文章信息的标题7",Creator = new User { Name = "发布人1" },Category = new Category {  Name="信息分类1"}, Description = "", Checked=true },
    };
}
<div id="app-articles">
    <div class="toolbar">
        <div class="left">
            <a href="@Url.Action("Edit")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 发布信息</a>
            <div class="dropdown btn btn-default">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-filter"></i> 所有分类
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">信息分类1</a></li>
                    <li><a href="#">信息分类2</a></li>
                    <li><a href="#">信息分类3</a></li>
                    <li><a href="#">信息分类4</a></li>
                    <li><a href="#">信息分类5</a></li>
                    <li><a href="#">信息分类6</a></li>
                    <li><a href="#">信息分类7</a></li>
                    <li><a href="#">信息分类8</a></li>
                </ul>
            </div>
        </div>
        <div class="right col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="关键词" />
                <div class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th style="width:120px;">分类</th>
                    <th style="width:120px;">状态</th>
                    <th style="width:150px;">发布时间</th>
                    <th style="width:150px;">发布人</th>
                    <th style="width:200px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in list)
                {
                    <tr>
                        <td><i class="fa fa-file-o" style="font-size:0.8em"></i> <a href="@Url.Action("Detail", new { id = item.ID })" >@(item.Title)</a></td>
                        <td>@(item.Category.Name)</td>
                        <td>
                            @(item.Checked?"已审核":"未审核")
                        </td>
                        <td>@(item.CreateTime.ToString("yyyy-MM-dd HH:mm"))</td>
                        <td>@(item.Creator.Name)</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> 修改</a>
                            <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> 删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>