@{
    List<Archive> list = new List<Archive>
    {
        new Archive { ID = 1, Category = new Category { Name ="测试分类1" },  Title = "这里是测试档案的标题A", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类2" },  Title = "这里是测试档案的标题B", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类3" },  Title = "这里是测试档案的标题", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类4" },  Title = "这里是测试档案的标题", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类5" },  Title = "这里是测试档案的标题", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类1" },  Title = "这里是测试档案的标题", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类3" },  Title = "这里是测试档案的标题测试", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类2" },  Title = "这里是测试档案的标题a", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类5" },  Title = "这里是测试档案的标题123", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类3" },  Title = "这里是测试档案的标题3", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类2" },  Title = "这里是测试档案的标题D", Code = "A2017011011293"  , ReadTimes = 11},
        new Archive { ID = 1, Category = new Category { Name ="测试分类1" },  Title = "这里是测试档案的标题C", Code = "A2017011011293"  , ReadTimes = 11},
    };
}
<div id="app-archive">
    <div class="toolbar">
        <div class="left">
            <a href="@Url.Action("Apply")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 申请查询</a>
        </div>
        <div class="right col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="档案关键词" />
                <div class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th width="120">档案编号</th>
                <th>标题    </th>
                <th width="120">档案分类</th>
                <th width="150">归档时间</th>
                <th width="150">操作    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>@(item.Code)</td>
                    <td><a href="@(Url.Action("Detail", new { item.ID }))">@(item.Title)</a></td>
                    <td>@(item.Category.Name)</td>
                    <td>@(item.CreateTime.ToString("yyyy-MM-dd"))</td>
                    <td>
                        <a href="@Url.Action("read",new { item.ID})" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> 查阅</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>