@{ 
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}
<ul class="nav navbar-stacked">
    <li class="@(action == "sendlist"?"active":null)">
        <a href="@Url.Action("SendList")">
            <i class="fa fa-send"></i> 发文查询
        </a>
    </li>
    <li class="@(action == "edit"?"active":null)">
        <a href="@Url.Action("Edit")">
            <i class="fa fa-pencil-square-o"></i> 发文拟稿
        </a>
    </li>
    <li class="@(action == "receivelist"?"active":null)">
        <a href="@Url.Action("receiveList")">
            <i class="fa fa-envelope-open-o"></i> 收文查询
        </a>
    </li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#"><i class="fa fa-bar-chart"></i> 公文统计</a></li>
</ul>
