@{
    var list = new List<SendDocument>()
    {
        new SendDocument { Number = "舟土资办〔2016〕1号", ToOrgan = "主送机关1", Creator = new User { Name = "测试姓名" },FlowStep = new FlowStep { Name = "办结" },       SendTime = DateTime.Now, Title = "这是一条发文测试的标题1", },
        new SendDocument { Number = "舟土资办〔2016〕2号", ToOrgan = "主送机关2", Creator = new User { Name = "测试姓名" },FlowStep = new FlowStep { Name = "拟稿" },       SendTime = DateTime.Now, Title = "这是一条发文测试的标题2", },
        new SendDocument { Number = "舟土资办〔2016〕3号", ToOrgan = "主送机关3", Creator = new User { Name = "测试姓名" },FlowStep = new FlowStep { Name = "办公室审核" }, SendTime = DateTime.Now, Title = "这是一条发文测试的标题3", },
        new SendDocument { Number = "舟土资办〔2016〕4号", ToOrgan = "主送机关4", Creator = new User { Name = "测试姓名" },FlowStep = new FlowStep { Name = "科室审核" },   SendTime = DateTime.Now, Title = "这是一条发文测试的标题4", },
        new SendDocument { Number = "舟土资办〔2016〕5号", ToOrgan = "主送机关5", Creator = new User { Name = "测试姓名" },FlowStep = new FlowStep { Name = "领导审核" },   SendTime = DateTime.Now, Title = "这是一条发文测试的标题5", },
    };
}
<div class="toolbar">
    <div class="left">
        <a href="@(Url.Action("Edit"))" class="btn btn-sm btn-primary"><i class="fa fa-file-o"></i> 发文拟稿</a>
    </div>
    <div class="right col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="档案关键词" />
            <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
            </div>
        </div>
    </div>
</div>
<div class="main-content" style="margin:20px 20px 0 20px;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:200px;">字号</th>
                <th>标题    </th>
                <th style="width:120px;">拟稿人    </th>
                <th style="width:150px;">形成时间</th>
                <th style="width:150px;">状态    </th>
                <th style="width:150px;">操作    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>@(item.Number)</td>
                    <td><a href="@(Url.Action("edit",new { item.ID }))">@(item.Title)</a></td>
                    <td>@(item.Creator.Name)</td>
                    <td>@(item.SendTime.ToString("yyyy-MM-dd"))</td>
                    <td>@(item.FlowStep.Name)</td>
                    <td>
                        <a href="@Url.Action("edit")" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> 修改</a>
                        <a href="@Url.Action("detail")" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> 浏览</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>